body {
  /* min-height: 3000px; */
}

.jumbotron {
  padding-top: 9rem;
  background-color: #00ffff;
}
.jumbotron img {
  border-radius: 50%;
}

#projects {
  margin-bottom: 5rem;
  background-color: #00ffff;
}

section {
  padding-top: 7rem;
}
